body {
  margin-top: 4em;
}

.article-featured {

}

.article-main {
  padding: 5px;
  text-align: center;
}

.article-main, img {
  display: block;
  margin: auto;

}

.glyphicon-menu-hamburger{
  font-size: 17px;
}

.glyphicon-search {
  padding-right: 10px;
  font-size: 18px;
}
